
/* ---------------------------------------------------------------------- */
/* UI */

/* Iconos que aparecen en el menu. */
.ingame-icon
{
    width: 30px;
}

/* Boton de abrir el menu. */
#ingame-menu-open
{
    position: fixed;

    right: 30px;
    top: 30px;
}

/* Grupo de botones de abajo. */
#ingame-buttongroup
{
    position:fixed;
    bottom: 30px;
    width: 100vw;
    padding: 0 30px;

    gap: 15px;
}

/* ---------------------------------------------------------------------- */
/* MENU BACKGROUND */

.ingame-menu
{
    position: absolute;

    height: 470px;
    width: 800px;

    border-radius: 25px;
    background-color: white;
}

#ingame-menu-close, #ingame-travel-close
{
    position: absolute;

    right: 30px;
    top: 30px;

    width: 15px;
}


/* ---------------------------------------------------------------------- */
/* MENU GENERAL */

/* Para los titulos que aparecen al lado de un icono. */
.ingame-menu-header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.ingame-menu-header h1
{
    padding: 0;
    margin: 0;

    color: #002b49;

    font-weight: bold;
    font-size: 25px;
}

/* La div que contiene cada uno de los subpaneles del menu. */
.ingame-menu-content
{
    height: 250px;
    width: 100%;
    padding: 0 40px;
}

/* Las columnas en las que se dividen los paneles del menu. */
.ingame-menu-column
{
    height: 100%;
    width: 100%;

    object-fit:contain;
    border-radius: 20px;
}

/* El texto que aparece en los paneles del menu. */
.ingame-menu-content p
{
    font-size: small;
}


/* ---------------------------------------------------------------------- */
/* MENU OPTIONS */

.ingame-menu-options-container
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 35px;
    padding-left: 90px;
}


/* ---------------------------------------------------------------------- */
/* HISTORY */

#ingame-menu-profile-img
{
    background-color: rgb(240, 240, 240);
}

#ingame-menu-history-qr *
{
    height: 100%;
}


/* ====================================================================== */
/* ====================================================================== */

@media (max-width: 768px)
{
    .ingame-menu
    {
        height: 70vh;
        width: 85vw;
    }

    .ingame-menu-content
    {
        padding: 0 5%;
    }

    .ingame-menu-options-container
    {
        padding: 0 5%;
    }
}