
#test-steps
{
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message
{
    background-color: white;
    color: black;
    border-radius: 10px;

    width: 370px;

    margin: 10px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.button
{
    background-color: rgb(110, 10, 10);
    color: white;
    border-radius: 5px;

    width: 150px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover
{
    cursor: pointer;
    background-color: rgb(94, 4, 4);
}

/* ----- */

#message-1
{
    position: absolute;
    left: 50px;
    bottom: 50px;
}

#message-2
{
    position: absolute;
    top: 50px;
    right: 50px;
}

#message-3
{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
