#información de reservas
3d-custom/place-auditorio/booking-auditorio.json
3d-custom/place-salaexposiciones/booking-salaexposiciones.json
3d-custom/place-salaprivada/booking-salaprivada.json

#configuración
#includes/config.php