
/* ---------------------------------------------------------------------- */

/*  Quitar estilos  por defecto del buscador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

/* ---------------------------------------------------------------------- */
/* BUTTONS */

.button-general
{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    transition-duration: 0.2s;
    border: none;
    background-color: #87b4a4;
    color: white;
}

.button-general:hover
{
    cursor: pointer;
    background-color: #72998b;
}

.button-border{

    font-weight: 600;
    border: solid #87b4a4 2px;
    background-color: #e9f2ef;

    color: #002B49;
    font-style: normal;
}

.button-border:hover{
    cursor: pointer;
    background-color: #a1cebe;
}


/* ---------------------------------------------------------------------- */
/* FLEX */

/* Convierte una div en un contenedor que ocupa toda la pantalla y centra su hijo en el centro. */
.center-container
{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ordena los hijos de esta div en columna. */
.column
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Ordena los hijos de esta div en fila. */
.row
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Centra los elementos de la div. */
.center { justify-content: center; }
/* Coloca los elemtnos de la div al final. */
.end { justify-content: end; }
/* Separa homogeneamente los elementos de la div. */
.space-betweeen { justify-content: space-between; }
/* Estira los elementos para ocupen todo el espacio en el eje perpendicular a flex-direction. */
.stretch{ align-items: stretch; }


/* ---------------------------------------------------------------------- */

/* Hace que se ponga el dedito al poner el raton sobre una div. */
.interactable :hover { cursor: pointer; }


/* ---------------------------------------------------------------------- */
/* Uso estas clases para debugear. */

.red{background-color: red;}
.green{background-color: green;}
.blue{background-color: blue;}
