/* FUENTES DE TEXTO */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Montserrat:wght@400;700&display=swap');


/* ELIMINAR ESTILOS POR DEFECTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ELEMENTOS GENERALES */ 
h1{
    width: 100%;    
    text-align: left;
    color: #002B49;
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 1em;
}

h2{
    color: #002B49;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

p{
    width: 100%;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #002B49;
}

/* ESTRUCTURA GENERAL */
.main-container{
    display: flex;
    flex-direction: column;
    
    justify-content: start;
    align-items: start;
    min-height: 100vh;
}

#left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    width: 100%; /* Modificado con media querys */
}

.content {
    width: 80%; /* Modificado con media querys */
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.content-main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}

.content-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-label h2{
    display: flex;
    justify-content: space-between;
}

.content-label-column{
    display: flex;
    flex-direction: column;
}


/* LOGO LYVO */
#lyvo-logo {
    align-self: flex-start;
    padding-left: 2em;
    width: 100px;
    z-index: 1;
}

#lyvo-logo img {
    width: 100%;
}

/* FOOTER */
#textos-inferiores{
    align-self: flex-end;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    padding: 1em;
    padding-top: 2em;
}

#copyright{   
    flex-grow: 2;
}

#copyright p{
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
}

#botones-esquina{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 5%;
}

#botones-esquina a{
    color: #002B49;
    font-size: 0.7rem;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

#politica-privacidad{
   flex-grow: 1;
   text-align: end;
}

#cookies{
    flex-grow: 1;
    text-align: start;
}

/* Elementos Recurentes */
#hoja-livo{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 70%;
    background-image: url("../images/hoja_borde.svg");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

.content-label {
    width: 100%; 
    margin-bottom: 1rem;
}

.texto-bajo-boton{
    margin-top: 10px;
}

/* AVATAR */
.avatar-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 3%;
}

.avatar-button {
    background-color: #e9f2ef;
    width: 31%;
    border-radius: 12px;
    margin-top: 15px;
    height: 100px;
    overflow: hidden;
}

.avatar-button:hover{

    background-color: #92c4b2;
    cursor: pointer;
}

.avatar-selected {
  background-color: #92c4b2;
}

.avatar-button img
{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

/* INPUT */
.input-icon {
    position: relative;
}

.icon-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.icon-input-margin-right {

    right: 30px; /* Ajustar para cambiar la distancia desde la derecha */

}

.hover-pointer:hover{
    cursor: pointer;
}

/* BOTONES INDICACIÓN PÁGINA */
#botones-circulares{
    display: flex;
    gap: 5%;
    width: 80%;
    margin-bottom: 1em;
}

.boton-circular{
    background: rgb(213, 237, 245);
    border: solid #87b4a4 2px;
    border-radius: 55%;
    width: 35px;
    height: 35px;
}

.boton-circular p{
    position: relative;
    top: 6px;
    bottom: 26%;
    text-align: center;
    font-size: 1em !important;
}

#current-boton-circular p{
    font-weight: bold;
}

#boton-circular-completado{
    background: #87b4a4;
}

#boton-circular-completado p{
    color: white;
}

.linea{
    position: absolute;
    border: solid #87b4a4 1px;
    width: 3.5em;
    margin-top: 1.1em;
    z-index: -1;
}

.pregunta-radio-group{
    display: flex;
    flex-direction: column;
}

/* ESTILOS GENERALES */
.button-general, input[type=submit], input[type=button]{

    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    transition-duration: 0.2s;
    border: none;
    background-color: #87b4a4;
    color: white ;
}

.button-general:hover, input[type=submit]:hover, input[type=button]:hover{
    cursor: pointer;
    background-color: #72998b;
}

input[type=submit].button-halfhidden{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    transition-duration: 0.2s;
    border: none;
    background-color: #9ab1a9;
    color: white ;
    margin-top: 25px;
}

input[type=submit].button-halfhidden:hover{
    cursor: pointer;
    background-color: #5d756c;
}

.button-border{

    font-weight: 600;
    border: solid #87b4a4 2px;
    background-color: #e9f2ef;

    color: #002B49;
    font-style: normal;
}

.button-border:hover{
    cursor: pointer;
    background-color: #a1cebe;
}

.margin-top-bottom-10px{ margin-top: 10px; margin-bottom: 10px; }
.margin-top-50px{ margin-top: 50px; }
.margin-bottom-5px{  margin-bottom: 5px; }
.margin-bottom-10px{  margin-bottom: 10px; }
.margin-bottom-20px{ margin-bottom: 20px; }
.margin-bottom-30px{ margin-bottom: 30px; }
.margin-bottom-50px{ margin-bottom: 50px; }
.margin-right-5px{ margin-right: 5px; }

.button-text {
    border: none;
    background: none;
    color: #87b4a4;
    margin: 0;
    padding: 0;
    outline: none;
    display: inline;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.button-text:hover{
    cursor: pointer;
    color: #72998b;
}

input[type=text], input[type=password], input[type=email], input[type=date]{
    
    background-color: #e9f2ef;
    border: 2px solid #87b4a4;
    width: 100%;
    border-radius: 11px;
    font-size: 0.75em;
    font-family: "Montserrat", sans-serif;

    padding: 0.5em;
}

select{
    
    background-color: #e9f2ef;
    border: 2px solid #87b4a4;
    width: 100%;
    border-radius: 11px;
    font-size: 0.75em;
    font-family: "Montserrat", sans-serif;

    padding: 0.5em;
}

.content input[type=text]:focus, .content input[type=password]:focus {
    outline: 0.1;
    outline-color: #002B49;
}

input[type=checkbox]{

    accent-color: #87b4a4;
    border-color: white;
    padding: 1em;
}

input[type=radio]{
    accent-color: #87b4a4;
 }

a, a p{

    text-decoration: none;
    color: #87b4a4;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a:hover{
    color: #72998b;
}

.input-label-circular {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input-field-label, .radio-text {
    display: inline-block;
}

.msg{
    position: relative;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

.msg-error{
    color: rgb(255, 123, 0);
}

.msg-confirm{
    color: #002B49;
}

.avatar-button:hover{
    background-color: #92c4b2;
 }

.caracteres-minimos{
    text-align: end;
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Estilos para tablet (estos se añaden o remplazan a los estilos previos) */

@media (min-width:800px) {

    #lyvo-logo {
        width: 150px;
    }

    .content {
        width: 50%;
    }

    .avatar-button {
        height: 130px;
    }

    #copyright p{
        text-align: start;
    }  
    
    #politica-privacidad{
       flex-grow: 2;
       text-align: end;
    }
    
    #cookies{
        flex-grow: 0;
        text-align: end;
    }

    .linea{
        width: 5em;
    }

}

/* Estilos para monitor (estos se añaden o remplazan a los estilos previos) */
@media (min-width:1350px) {

    #lyvo-logo {
        width: 200px;
        margin-bottom: -30px;
    }

    .content {
        width: 40%;
    }

    #left-panel {

        width: 60%;
    }

    #hoja-livo{
        visibility: hidden;
    }

    #right-panel {
        position: fixed;
        right: 0;
        width: 40%;
        height: 100%;
        background-image: url("../images/web-image-01.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .avatar-button {
        height: 100px;
    }

    #hoja-livo-grande {
        position: fixed;
        width: 48%;
        height: 75%;
        bottom: 0;
        right: 0;
        background-image: url("../images/hoja_solido.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #botones-esquina a{
        color: #ffffff;
    }

}