#caracteres-minimos{
    text-align: end;
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width:800px) {


    .content {     
        width: 70%;
    }

    .content-label {
        width: 48%; 
    }

}

@media (min-width:1350px) {

    #left-panel{
        width: 55%;
    }

    .content{
        width: 80%;
    }
    
}