/* FUENTES DE TEXTO */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');

/* VARIABLES */
:root {
    --color_1: #48907f; /* Botones */
    --color_1_hover: #376d60; /* Botones */
    --color_2: #004d6d; /* Fondos */
    --color_3: #002B49; /* Texto y títulos  */
    --color_4: #e9f2ef; /* Inputs */
    --color_5: #ff7b00; /* Errors */
}

/* ELIMINAR ESTILOS POR DEFECTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* GLOBAL /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

html{

    /* Definición general de rem */
    font-size: 16px;
}

body {

    height: 100%;
    font-family: 'Montserrat', sans-serif;

    /* Tamaño general del texto. Se usa vh para el responisve */
    font-size: 1.5vh;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* TÍTULOS ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

h1{
    font-size: 3vh;
    font-weight: 600;
}

h2{
    font-size: 1.6vh;
    font-weight: 700;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* VIDEO BACKGROUND ///////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;   /* Asegura que el video permanezca detrás del contenido */
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* Centra el video en la pantalla */
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
}


/* ////////////////////////////////////////////////////////////////////////////// */
/* ADORNOS ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.lyvo-leaf{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 70%;

    background-repeat: no-repeat;
    background-size: cover;

    /*Por defecto la hoja queda por detrás*/
    z-index: -1;

    /*background-color: rgba(173, 143, 202, 0.308);*/
}

.lyvo-leaf-outline{
    background-image: url("../images/hoja_borde.svg");
}

.lyvo-leaf-solid{
    background-image: url("../images/hoja_solido.svg");
}

/* ////////////////////////////////////////////////////////////////////////////// */

#content {

    display: flex;
    min-height: 100vh;

}

/* ////////////////////////////////////////////////////////////////////////////// */
/* HEADER /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

#header{

    position: fixed;   /* Fijamos el objeto */

    height: 10vh;
    width: 100%;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    align-items: center;           /* centra verticalmente */
    justify-content: flex-start;   /* alinea al inicio (izquierda) */

    /*background-color: rgba(0, 255, 34, 0.397);*/
}

#logo {
    height: 6vh;   /* Tamaño del logo */
    z-index: 10;    /* Asegura que el logo esté por encima de otros elementos */
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* FOOTER /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

#footer{

    position: fixed;   /* Fijamos el objeto */
    bottom: 0;         /* Lo dejamos fijado en la parte inferior*/  

    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;

    font-size: 1.5vh;

    z-index: 1;

    /*background-color: rgba(255, 0, 0, 0.397);*/
}

.footer-element{
    display: flex;
    align-items: center;
    flex-direction: row;

    /*background-color: rgba(0, 255, 76, 0.397);*/
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* PANELS /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

#panels{
    flex: 1;
    display: flex;
    flex-direction: row;   /* Esto hará que los sub-paneles se apilen verticalmente */

    width: 100%;

    /* background-color: rgba(0, 38, 255, 0.171); */
}

#panel-left {
    flex: 1;
    display: flex;
    flex-direction: column;   /* Esto hará que los sub-paneles se apilen verticalmente */

    padding-left: 50px;
    padding-right: 50px;

    /* background-color: rgba(0, 38, 255, 0.171); */
}

#panel-right {

    display: flex;
    width: 40vw;

    /* background-color: rgba(0, 255, 255, 0.507); */
}

.panel-title{
    width: 100%;
    text-align: left;
}

.panel-content{

    display: flex;
    flex-direction: column; /* Esto hará que los sub-paneles se apilen verticalmente */
    width: 100%;

    z-index: 5;

    /* background-color: rgba(247, 0, 255, 0.349); */
}

.panel-subpanels-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Centra horizontalmente */

    width: 100%;

    column-gap: 20px;

    /* background-color: rgba(0, 255, 98, 0.26); */
}

.panel-sub {

    display: flex;
    width: 100%;

    /* background-color: rgba(255, 145, 0, 0.199); */
}

.panel-background-white{
    background-color: var(--color_4);
    border: none;
    width: 100%;
    border-radius: 10px;

    padding: 2em;
}

.panel-background-blue{
    background-color: var(--color_4);
    border: none;
    width: 100%;
    border-radius: 10px;

    padding: 1.5em;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* POP-UP /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.popup-container{
    
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    z-index: 9999;
}

.popup{

    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* IFRAMES ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.iframe-rpm{

    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding: 0px;
    font-size: 14px;
    border: none;
    border-radius: 20px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

/* ////////////////////////////////////////////////////////////////////////////// */
/* IMAGES /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.img-center {
    width: 50%; /* O el tamaño que prefieras para tu imagen */
    height: 50%; /* O el tamaño que prefieras para tu imagen */

    object-fit: contain;
}

.img-fullsize{

    width: 100%;
    max-height: 100vh;
    z-index: -5;
    object-fit: cover;  /* Para mantener las proporciones de la imagen mientras la redimensiona */

}

/* Márgenes */
.flex-margin-r10-c10{
    row-gap: 10px;
    column-gap: 10px;
}

.flex-margin-r10-c20{
    row-gap: 10px;
    column-gap: 20px;
}

.flex-margin-r20-c20{
    row-gap: 20px;
    column-gap: 20px;
}

/* Esta adaptación sirve para 2 columnas*/
.panel-element{
    width: 100%;
}

/* Esta adaptación sirve para 2 columnas*/
.panel-element-adaptative{
    width: 48%;
}

/* Filas - Columnas */
.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-spaceBetween{
    justify-content: space-between;
}

/* Alineaciones */
.flex-align-center{ align-items: center; }
.flex-justify-center { justify-content: center; }

form{
    flex: 1;
    display: flex;
    flex-direction: column; /* Esto hará que los sub-paneles se apilen verticalmente */

    width: 100%;

    /*background-color: rgba(0, 255, 98, 0.26);*/
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* INPUT y BOTONES ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

input[type=text], input[type=password], input[type=email], input[type=date], select{
    
    background-color: var(--color_4);
    border: none;
    width: 100%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    height: 40px;

    padding: 0.8em;
}

input[type=checkbox] {
    display: inline-block;
    transform: scale(1.2);
}

input[type="checkbox"]:checked {
    background-color: var(--color_1);
}

.input-field-icon-container {
    position: relative;
}

.input-field-icon-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.input-label-circular {
    display: flex;
    align-items: center;
}

.button-general, input[type=submit], input[type=button]{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vh;
    font-weight: 500;
    transition-duration: 0.2s;
    border: none;  
}

.button-text {
    border: none;
    background: none;
    color: var(--color_1);
    margin: 0;
    padding: 0;
    outline: none;
    display: inline;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.button-color{
    background-color: var(--color_1);
    color: white ;
}

.button-white{
    background-color: white;
    color: var(--color_1);
}

.button-text:hover{
    cursor: pointer;
}

.button-color:hover{
    cursor: pointer;
    background-color: var(--color_1_hover);
}

.button-white:hover{
    cursor: pointer;
    background-color: var(--color_1);
    color: white;
}

/* Elementos que van justo debajo de botones, inputs, etc... */
.element-info{
    text-align: left;
    font-size: 1.4vh;
}

.element-info-detail{
    text-align: left;
    font-size: 1.2vh;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* TEXTOS /////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.link {
    text-decoration: none; 
    cursor: pointer;
}

.link-bold{
    color: var(--color_1);
    font-weight: bold;
}

.link:hover{
    text-decoration-color: var(--color_1_hover);
}

.link-text:hover{
    text-decoration: underline;
    text-decoration-color: var(--color_1);
}

.msg{
    font-size: 1.2rem;
}

.msg-general{
    font-size: 0.8rem;
}

.msg-error{
    font-size: 0.8rem;
    color: var(--color_5);
}

.text-color-white{ color: white; }
.text-color-black{ color: black; }
.text-color-blue{ color: var(--color_3); }
.text-color-none{color: transparent;}

.text-align-center{
    text-align: center;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* AVATARES ///////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.button-avatar {
    background-color: var(--color_4);
    border-radius: 12px;

    width: 28%;
    height: 45%;

    overflow: hidden;
}

.button-avatar:hover{

    cursor: pointer;
}

.button-avatar-selected {
  background-color: var(--color_1);
}

.button-avatar img
{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* MÁRGENES Y AJUSTES /////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.width-60vw{width: 60vw;}
.width-40vw{width: 40vw;}

.margin-bottom-10vh{ margin-bottom: 10vh; }
.margin-bottom-20vh{ margin-bottom: 20vh; }

.margin-bottom-5px{ margin-bottom: 5px; }
.margin-bottom-10px{ margin-bottom: 10px; }
.margin-bottom-20px{ margin-bottom: 20px; }
.margin-bottom-30px{ margin-bottom: 30px; }
.margin-bottom-40px{ margin-bottom: 40px; }

.margin-right-5px{ margin-right: 5px; }
.margin-right-10px{ margin-right: 10px; }
.margin-right-20px{ margin-right: 20px; }

.width-100{ width: 100%;}
.max-width-300px{ max-width: 300px;}
.max-width-400px{ max-width: 400px;}
.max-width-700px{ max-width: 700px;}

/* Ocultar elementos en pantalla ancha */
.hide-widescreen{ display: none; }

.padding-left-50px{padding-left: 50px;}

/* ////////////////////////////////////////////////////////////////////////////// */
/* MISCELANEA /////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.adaptative-ctd{
    color: white;
}

.adaptative-dtc{
    color: black;
}

.suboption{
    font-size: 1.5vh;
}

.hover-pointer:hover{
    cursor: pointer;
}

.title-composed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overflow-scroll{
    overflow-y: scroll;
    max-height: 55vh;

    flex-wrap: nowrap;

    /* Para Firefox */
    scrollbar-width: none; 

    /* Para Chrome, Safari y Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.height-100px{
    height: 100px;
}

.height-500px{
    height: 500px;
}

.bar-horizontal{
    background-color: var(--color_1);
    width: 100%;
    height: 1px;
}

.list-general {
    list-style-type: disc;  /* Esto define el tipo de viñeta que quieres usar. 'disc' es la viñeta circular típica. */
    padding-left: 20px;  /* Ajusta este valor según el espacio que quieras tener entre la viñeta y el borde izquierdo. */
    color: var(--color_1);
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* MEDIA //////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* Estilos responsive para smartphones */
@media screen and (max-width: 1350px) { 

    #content{
        flex-direction: column;
        max-height: none;
    }

    /* Desanclar el header de fixed */
    #header{
        position: relative;
        padding-left: 20px;
    }
    /* Desanclar el footer de fixed */
    #footer{position: relative;}

    #panel-left{ 

        width: 100%; 
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        justify-content: center;
    }
    #panel-right{ display: none; }

    .panel-subpanels-container{
        flex-direction: column;
    }

    .max-width-300px{ max-width: none;}
    .max-width-400px{ max-width: none;}
    .max-width-700px{ max-width: none;}

    .video-background{
        display: none;
    }

    .hide-widescreen{
        display: block;
    }


    /* COLOR DE TEXTOS */
    .adaptative-ctd{
        color: black;
    }

    .adaptative-dtc{
        color: black;
    }

    .panel-element-adaptative{
        width: 100%;
    }

    .lyvo-leaf-solid{
        background-image: url("../images/hoja_borde.svg");
        z-index: -1;
    }
}